@{
    ViewData["Title"] = "Home Page";
}

<partial name="_StatusMessage" />

<div class="jumbotron jumbotron-fluid">


        <p class="text-center">Welcome</p>


</div>


<div class="text-center" style="align-content:center">

    @*    <video width="235" height="180" autoplay muted loop>
    <source src="~/images/clip2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
    </video>
    *@

    <br />
    <p class="bigtext">A site using (ASP.NET Core MVC)</p>
    <div class="medtext">
        <p>.NET Core Version 6.0 or just known as .NET 6.0</p>

        <p>Learn about <a href="https://www.spooch.co.uk" target="_blank">A web app I built with ASP.NET Framework(4.7.2)</a>.</p>
        <p>Not to be confused with with .NET Core / .NET 6.0</p>

        <p><a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank">.NET Framework explained</a></p>
        <p><a href="https://docs.microsoft.com/en-us/dotnet/core/introduction" target="_blank">.NET (Core) explained</a></p>


    </div>


    @if (User.IsInRole(Roles.SuperAdmin.ToString()))
    {
        <p>
            <a asp-action="FileIndex">See Files</a>
        </p>
    }
</div>


<br />

<style>
    .text, .medtext, .bigtext {
        font: small-caps bold 12px/30px;
        color: darkblue;
        font-size:medium;
    }

    .medtext {
        font-size: large;
    }

    .bigtext {
        font-size: x-large;
    }

    .jumbotron {
        position: relative;
        background: url("/images/gourock_banner.png");
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 50vh;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7vw;
        color: white;
        /*vertical-align: middle;*/
        line-height: 50vh;
    }

</style>







