@{
    ViewData["Title"] = "Home Page";
}

<partial name="_StatusMessage" />


<div class="text-center" style="align-content:center">

    <div class="bigtext">Welcome</div>

    <video width="470" height="360" autoplay muted loop>
        <source src="~/images/clip2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>



    <p class="medtext">This site is to test (ASP.NET Core MVC)</p>
    <div class="text">
        <p>(Identity framework uses Razor pages)</p>
        <p>.NET Core Version 6.0 or just known as .NET 6.0</p>

        <p>Learn about <a href="https://www.spooch.co.uk" target="_blank">A web app I built with ASP.NET Framework(4.7.2)</a>.</p>
        <p>Not to be confused with with .NET Core / .NET 6.0</p>

        <p><a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank">.NET Framework explained</a></p>
        <p><a href="https://docs.microsoft.com/en-us/dotnet/core/introduction" target="_blank">.NET (Core) explained</a></p>


    </div>

</div>


<style>
    .text, .medtext, .bigtext{
        font: small-caps bold 12px/30px "Comic Sans Serif", "Comic Sans MS", "Comic Sans", cursive;
        color: darkblue;
        font-size: large;
    }

    .medtext {
        font-size:35px;
    }    
    
    .bigtext {
        font-size:50px;
    }

</style>







