@{
    ViewData["Title"] = "Home Page";
}

<partial name="_StatusMessage" />

<div class="jumbotron jumbotron-fluid">


    <p class="text text-center">Welcome</p>


</div>


<div class="text-center" style="align-content:center">

    @*    <video width="235" height="180" autoplay muted loop>
    <source src="~/images/clip2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
    </video>
    *@

    <br />
    <h1 class="text">A site using (ASP.NET Core MVC)</h1>
    <div>
        <p class="medtext">.NET Core Version 6.0 or just known as .NET 6.0</p>
        
        <p><a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank">.NET Framework explained</a></p>
        <p><a href="https://docs.microsoft.com/en-us/dotnet/core/introduction" target="_blank">.NET (Core) explained</a></p>
        


    </div>


    @if (User.IsInRole(Roles.SuperAdmin.ToString()))
    {
        <p>
            <a asp-action="FileIndex">See Files</a>
        </p>
    }
</div>


<br />
<script>

    const cacheAvailable = 'caches' in self;
    $('#status').html('cahes available: ' + cacheAvailable);


    $(document).ready(loadUp);



    async function loadUp() {

        const cache = await caches.open('my-cache');
        cache.add(new Request('/home/getjson'));  // OR  cache.add('/home/getjson');
    }


</script>

<style>
    .text, .medtext, .bigtext {
        color: darkblue;
        font-family: 'Lobster', cursive;
    }

    .medtext {
        font-size: large;
    }

    .bigtext {
        font-size: x-large;
    }

    .jumbotron{
        position: relative;
        background-image: url("/images/banner-compressed.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8vw;
        color: white;
        /*vertical-align: middle;*/
        line-height: 360px;
    }

    @@media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .jumbotron {
            width: 100%;
            min-height: 40vh;
        }
    }

    .jumbotron2 {
        position: relative;
        background: url("/images/gourock_banner.png");
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 360px;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7vw;
        color: white;
        /*vertical-align: middle;*/
        line-height: 360px;
    }

</style>







