
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_StatusMessage"/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">This website uses (ASP.NET Core MVC)</h2>
    <p>It uses .NET Core Version 6.0 or just known as .NET 6.0</p>
    <p>.NET 5.0 / 6.0 etc are frameworks</p>
    <p>Learn about <a href="https://www.spooch.co.uk">A web app I built with ASP.NET Framework(4.7.2)</a>.</p>
    <p>Not to be confused with with .NET Core / .NET 6.0</p>

    <p><a href="https://docs.microsoft.com/en-us/dotnet/framework/get-started/overview">.NET Framework explained</a></p>
    <p><a href="https://docs.microsoft.com/en-us/dotnet/core/introduction">.NET (Core) explained</a></p>

</div>





