@model MVCWebApp.Controllers.UserInfo
@{

    ViewData["Title"] = "Privacy Policy";


}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>ID: @Model.ID</p>
<p>Username:  @Model.Name</p>
<p>Email: @Model.Email</p> 
